@use '../abstracts/variables';

.buttons {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.register_btn {
  width: 140px;
  height: 40px;
  background-color: #{variables.$bg-btn-black};
  color: #{variables.$font-white};
  font-weight: 400;
  cursor: pointer;
  border: none;
  margin: 0 12px;
}

.back_btn {
  width: 140px;
  height: 40px;
  background-color: #{variables.$bg-btn-gray};
  color: #{variables.$font-gray};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.submit_btn {
  width: 140px;
  height: 40px;
  background-color: #{variables.$bg-btn-black};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.delete_btn {
  width: 140px;
  height: 40px;
  background-color: #{variables.$bg-btn-red};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.table_details_btn {
  width: 70px;
  height: 30px;
  background-color: #{variables.$bg-btn-black};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.table_modify_btn {
  width: 70px;
  height: 30px;
  background-color: #{variables.$bg-btn-black};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.modal_buttons {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.modal_close_btn {
  width: 100px;
  height: 40px;
  background-color: #{variables.$bg-btn-gray};
  color: #{variables.$font-gray};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.modal_apply_btn {
  width: 100px;
  height: 40px;
  background-color: #{variables.$bg-btn-black};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.modal_send_btn {
  width: 100px;
  height: 40px;
  background-color: #{variables.$bg-btn-green};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.modal_withdraw_btn {
  width: 100px;
  height: 40px;
  background-color: #{variables.$bg-btn-red};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.logout {
  width: 80px;
  height: 40px;
  background-color: #{variables.$bg-btn-red};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.search {
  width: 80px;
  height: 40px;
  background-color: #{variables.$bg-btn-black};
  color: #{variables.$font-white};
  font-weight: 400;
  border: none;
  cursor: pointer;
}