.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.registration {
  width: 140px;
  height: 40px;
  background-color: #333333;
  color: #FFFFFF;
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin: 0 12px;
}

.removal {
  width: 140px;
  height: 40px;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.cancellation {
  width: 140px;
  height: 40px;
  background-color: #D9D9D9;
  color: #646464;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.completion {
  width: 140px;
  height: 40px;
  background-color: #1BC47D;
  color: #FFFFFF;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 0 12px;
}

.status {
  width: 70px;
  height: 30px;
  color: #FFFFFF;
  background-color: #1BC47D;
  border: none;
  cursor: pointer;
}

.details,
.modification {
  width: 70px;
  height: 30px;
  color: #FFFFFF;
  background-color: #F46262;
  border: none;
  cursor: pointer;
}