.table {
  margin-bottom: 30px;
}

.thead {
  font-weight: 600;
  border-bottom: 1px solid #000000;
}

.thead select,
.thead option {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.tr {
  display: flex;
  justify-content: space-between;
  height: 40px;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #BEBEBE;
  white-space: nowrap;
}

.table ul .tr>div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table ul .tr:hover {
  background-color: #F1F1F1;
}

.checked {
  background-color: #FF9090 !important;
}