@use '../abstracts/variables';

.table {
  overflow-x: auto;
  margin: 15px 0;
}

.thead {
  min-width: #{variables.$table-min-width};

  select,
  option {
    border: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
  }

  .tr {
    display: flex;
    height: 40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    font-weight: 700;
    border-bottom: 1px solid #{variables.$bd-black};
  }
}

.tbody {
  min-width: #{variables.$table-min-width};

  .tr {
    display: flex;
    height: 40px;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    border-bottom: 1px solid #{variables.$bd-gray};
  }

  .tr:hover {
    background-color: #{variables.$bg-tr-hover};
  }

  .tr.checked {
    background-color: #{variables.$bg-tr-selected};
  }

  .tr>div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}