@use '../abstracts/variables';

.table {
  margin-bottom: 30px;
}

.thead select,
.thead option {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.tr {
  display: flex;
  height: 40px;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  white-space: nowrap;
}

.thead .tr {
  font-weight: 600;
  border-bottom: 1px solid #{variables.$bd-black};
}

.tbody .tr {
  border-bottom: 1px solid #{variables.$bd-gray};
}

.tbody .tr:hover {
  background-color: #{variables.$bg-tr-hover};
}

.tbody .tr.checked {
  background-color: #{variables.$bg-tr-selected};
}

.tbody .tr>div {
  overflow: hidden;
  text-overflow: ellipsis;
}