.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.check {
  flex: 0 0 40px;
}

.id {
  flex: 0 0 50px;
}

.title {
  flex: 7 0 182px;
  text-align: left;
  padding: 0 12px;
}

.category {
  flex: 1 0 100px;
}

.status {
  flex: 1 0 100px;
}

.view {
  flex: 1 0 80px;
}

.bookmark {
  flex: 1 0 80px;
}

.createdDate,
.exposedDate,
.modifiedDate {
  flex: 1 0 140px;
}

.button {
  flex: 0 0 90px;
}