.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.content {
  display: flex;
  margin: 0 40px;
  gap: 10%;
}

.sub_content {
  max-width: 550px;
  width: 40%;
}

.content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.sub_content select {
  width: 100px;
  outline: none;
}