.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id {
  flex: 0 0 50px;
}

.nickname {
  flex: 2 0 250px;
  text-align: left;
  padding: 0 12px;
}

.email {
  flex: 2 0 250px;
  text-align: left;
  padding: 0 12px;
}

.type {
  flex: 1 0 100px;
}

.status {
  flex: 1 0 100px;
}

.createdDate,
.accessedDate {
  flex: 1 0 140px;
}