.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.nickname,
.status,
.type,
.details {
  flex: 1;
}

.email,
.createdDate,
.connectedDate {
  flex: 2;
}