.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.status,
.type,
.details {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.nickname,
.createdDate,
.accessedDate {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}

.email {
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
}