@use '../../layout/management_table';

.id {
  @include management_table.fixed_sm
}

.nickname {
  flex: 2 0 325px;
  text-align: left;
  padding: 0 12px;
}

.email {
  flex: 2 0 270px;
  text-align: left;
  padding: 0 12px;
}

.role,
.status {
  @include management_table.increasing_sm
}

.createdDate,
.accessedDate {
  @include management_table.increasing_lg
}

.button {
  @include management_table.fixed_lg
}