.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.reportedCount,
.status {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.email,
.createdDate,
.exposedDate {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}

.bookstoreName {
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
}