.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.check,
.id {
  flex: 1;
}

.reportedCount,
.status {
  flex: 2;
}

.createdDate,
.exposedDate {
  flex: 4;
}

.email {
  flex: 5;
  text-align: left;
  padding-left: 16px;
}

.bookstoreName {
  flex: 6;
  text-align: left;
  padding-left: 16px;
}