.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 20px;
  gap: 16px;
}

.half {
  display: flex;
  gap: 16px;
}

@media screen and (max-width:1750px) {
  .contents {
    gap: 24px;
  }

  .half {
    gap: 48px;
  }
}

.section {
  width: 250px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: #E4E4E4;
  padding: 16px;
  white-space: nowrap;
}

.section h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.section p {
  font-size: 16px;
}