.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  width: 1750px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 20px;
}

.section {
  width: 250px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: #E4E4E4;
  padding: 16px;
  margin: 16px 9px;
  white-space: nowrap;
}

@media screen and (max-width:1750px) {
  .contents {
    width: 900px;
  }
}

.section h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}