.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  margin: 0 20px;
}

.section {
  width: 220px;
  height: 200px;
  border-radius: 30px;
  background-color: #E4E4E4;
  padding: 16px;
  margin: 0 9px;
  white-space: nowrap;
}

.section h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.section p {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}