.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.subcontents {
  margin: 15px 50px;
}

.contents h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.graphWrapper {
  width: 400px;
}