.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id {
  flex: 0 0 40px;
}

.bookstoreName {
  flex: 2 0 330px;
  text-align: left;
  padding: 0 12px;
}

.email {
  flex: 2 0 250px;
  text-align: left;
  padding: 0 12px;
}

.status {
  flex: 1 0 80px;
}

.reportedCount {
  flex: 1 0 80px;
}

.createdDate,
.exposedDate {
  flex: 1 0 130px;
}

.button {
  flex: 0 0 90px
}