// font-size
$font-size: 87.5%; // 1rem: 14px로 설정

// background color
$bg-white: #FFFFFF;
$bg-header: #D9D9D9;
$bg-gnb: #F1F1F1;
$bg-gnb-selected: #D9D9D9;
$bg-text-gray: #E4E4E4;
$bg-text-light-gray: rgba(230, 230, 230, 0.3);
$bg-tr-hover: #F1F1F1;
$bg-tr-selected: #FF9090;
$bg-btn-white: #FFFFFF;
$bg-btn-white-hover: #F8F9FA;
$bg-btn-dark-black: #121212;
$bg-btn-black: #333333;
$bg-btn-gray: #D9D9D9;
$bg-btn-red: #DC3E3E;
$bg-btn-green: #1BC47D;
$bg-img-gray: #E9ECEF;
$bg-img-pink: #F46262;
$bg-img-light-pink: #FCACAC;
$bg-modal-outside: rgba(0, 0, 0, 0.4);

// border
$bd-black: #000000;
$bd-gray: #BEBEBE;
$bd-dark-gray: #868686;
$bd-light-gray: #E9ECEF;

// font color
$font-white: #FFFFFF;
$font-gray: #646464;
$font-light-gray: #868E96;
$font-light-gray-hover: #212529;
$font-red: #FF0000;
$font-green: #1BC47D;