@use '../../abstracts/variables';
@use '../../layout/button';

.container {
  display: flex;
  flex-direction: column;
}

.content {
  margin: 0 20px;

  section {
    padding: 20px 0 30px 0;

    h3 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    >div {
      height: 45px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #{variables.$bd-gray};
    }

    .key {
      width: 75px;
      font-weight: 500;
    }

    .value {
      color: #{variables.$font-light-gray};
    }
  }
}

.search {
  display: flex;
  align-items: center;

  input {
    width: 375px;
    height: 33px;
    font-size: 14px;
    outline: none;
    border: 1px solid #{variables.$bd-input-gray};
    padding: 0 10px;
    margin-right: 6px;
  }

  button {
    width: 66px;
    height: 33px;
    color: #{variables.$font-white};
    font-weight: 500;
    background-color: #{variables.$bg-btn-black};
    border: none;
  }
}

.introduction {
  display: flex;
  align-items: center;

  input {
    width: 375px;
    height: 33px;
    font-size: 14px;
    outline: none;
    border: 1px solid #{variables.$bd-input-gray};
    padding: 0 10px;
    margin-right: 10px;
  }

  span {
    color: #{variables.$font-gray};
  }
}

.theme {
  display: flex;
  align-items: center;

  input {
    position: relative;
    top: 1.5px;
  }

  label {
    display: flex;
    margin-right: 14px;
  }
}

.image {
  button {
    width: 90px;
    height: 33px;
    color: #{variables.$font-white};
    font-weight: 500;
    background-color: #{variables.$bg-btn-black};
    border: none;
  }
}

.buttons {
  @include button.main_btn_layout;
}