@use '../../abstracts/variables';

.container {
  display: flex;
  flex-direction: column;
}

.contents {
  margin: 0 50px;
}

.search {
  display: flex;
  height: 40px;
  margin: 15px 0 50px 0;
}

.search>div {
  display: flex;
  width: 362px;
  border: 1px solid #{variables.$bd-gray};
  margin-right: 10px;
}

.search>div>div {
  width: 150px;
  text-align: center;
  padding: 9px 0;
  background-color: #{variables.$bg-text-gray};
}

.search input {
  width: 212px;
  border: none;
  outline: none;
  padding-left: 12px;
}

.search>button {
  width: 72px;
  color: #{variables.$font-white};
  line-height: 100%;
  font-weight: 500;
  background-color: #{variables.$bg-btn-black};
  border: none;
  cursor: pointer;
}

.info {
  margin-bottom: 60px;
}

.h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 15px 0;
}

.info>div>div {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #{variables.$bd-gray};
  align-items: center;
}

.info>div>div>div {
  width: 100px;
  font-weight: 500;
}

.info input {
  border: none;
  outline: none;
  flex: 1;
}