.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.category,
.status {
  flex: 1;
}

.title {
  flex: 4;
}

.createdDate,
.sentDate {
  flex: 1.5;
}