.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  flex-direction: column;
}

.check,
.id {
  flex: 1;
}

.category,
.status {
  flex: 2;
}

.createdDate,
.sentDate {
  flex: 4;
}

.title {
  flex: 8;
  text-align: left;
  padding-left: 16px;
}