.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.category,
.status {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.createdDate,
.sentDate {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  flex: 6;
  overflow: hidden;
  white-space: nowrap;
}