.container {
  display: flex;
  height: 40px;
  margin-right: 34px;
}

.container>div {
  display: flex;
  border: 1px solid #BEBEBE;
  margin-right: 16px;
}

.container>div>div {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background-color: #E4E4E4;
}

.container input {
  width: 200px;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 20px;
}

.container button {
  width: 72px;
  color: #FFFFFF;
  line-height: 100%;
  font-weight: 500;
  background-color: #333333;
  border: none;
  cursor: pointer;
}