@use '../../abstracts/variables';
@use '../../layout/button';

.container {
  min-width: 920px;
  width: calc(920px + 10%);
  background-color: #{variables.$bg-white};
  z-index: 100;
  padding: 20px 60px 0 60px;
  text-align: left;
  margin: 0 auto;

  h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.close {
  width: 32px;
  height: 32px;
  position: relative;
  left: calc(100% - 32px + 60px - 15px);
  top: calc(-20px + 15px);
  background-color: #{variables.$bg-btn-white};
  border: none;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #{variables.$bd-black};
  border-bottom: 1px solid #{variables.$bd-black};
  white-space: normal;
  word-break: break-all;

  >div>div {
    padding: 20px 12px;
  }
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #{variables.$bd-gray};

  .key {
    flex: 1 0 150px;
  }

  .value {
    flex: 2 0 300px;

    &.entire {
      flex: 5 0 750px;
    }
  }
}

.buttons {
  @include button.modal_btn_layout;
}