@use '../../layout/management_table';
@use '../../layout/button';

.check,
.id {
  @include management_table.fixed_sm;
}

.title {
  flex: 4 0 470px;
  text-align: left;
  padding: 0 12px;
}

.category,
.status {
  @include management_table.increasing_sm;
}

.createdDate,
.sentDate {
  @include management_table.increasing_lg;
}

.button {
  @include management_table.fixed_lg;
  @include button.table_btn_layout;
}

.buttons {
  @include button.main_btn_layout;
}