@use '../../layout/management_table';
@use '../../layout/button';

.id {
  @include management_table.fixed_sm;
}

.content {
  flex: 5 0 370px;
  text-align: left;
  padding: 0 12px;
}

.email {
  flex: 1 0 270px;
  text-align: left;
  padding: 0 12px;
}

.category,
.device,
.feedbackCount {
  @include management_table.increasing_sm;
}

.createdDate {
  @include management_table.increasing_lg;
}

.button {
  @include management_table.fixed_lg;
  @include button.table_btn_layout;
}