@use '../../abstracts/variables';

.gnb {
  max-width: 1920px;
}

.gnb ul {
  display: flex;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gnb ul a {
  flex: 1;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  background-color: #{variables.$bg-gnb};
  border-left: 1px solid #{variables.$bg-gnb-selected};
  border-right: 1px solid #{variables.$bg-gnb-selected};
  cursor: pointer;
}

.current {
  background-color: #{variables.$bg-gnb-selected} !important;
}