@use '../../abstracts/variables';

.container {
  display: flex;
  height: 40px;
  margin-right: 34px;
}

.container>div {
  display: flex;
  border: 1px solid #{variables.$bd-gray};
  margin-right: 16px;
}

.container>div>div {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  background-color: #{variables.$bg-text-gray};
}

.container input {
  width: 200px;
  border: none;
  outline: none;
  padding: 0 20px;
}