.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.device,
.feedbackCount,
.type {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.email,
.createdDate {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
}