.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id {
  flex: 0 0 50px;
}

.content {
  flex: 6 0 362px;
  text-align: left;
  padding: 0 12px;
}

.email {
  flex: 2 0 250px;
  text-align: left;
  padding: 0 12px;
}

.category {
  flex: 1 0 120px;
}

.device {
  flex: 1 0 120px;
}

.feedbackCount {
  flex: 1 0 100px;
}

.createdDate {
  flex: 1 0 140px;
}

.button {
  flex: 0 0 90px;
}