@use '../../abstracts/variables';
@use '../../layout/button';

.container {
  margin: auto auto;

  h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
  }

  form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    input {
      height: 50px;
      border: 1px solid #{variables.$bd-dark-gray};
      border-radius: 10px;
      width: 100%;
      padding: 0 20px;
      margin: 6px 0;
    }

    div {
      text-align: center;
      color: #{variables.$font-red};
      font-size: 12px;
      font-weight: 500;
    }

    button {
      @include button.login_btn;
    }
  }
}