.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents {
  display: flex;
  flex-direction: column;
}

.id,
.category,
.view,
.bookmark,
.status {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.createdDate,
.exposedDate,
.modifiedDate {
  flex: 2;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  flex: 4;
  overflow: hidden;
  white-space: nowrap;
}